<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.gaokao_data_analysis_system.mapper.GeoProvinceMapper">

    <resultMap id="BaseResultMap" type="com.hust.gaokao_data_analysis_system.pojo.entity.GeoProvince">
            <id property="province_code" column="province_code" jdbcType="INTEGER"/>
            <result property="province_name" column="province_name" jdbcType="VARCHAR"/>
            <result property="province_region" column="province_region" jdbcType="INTEGER"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        province_code,province_name,province_region,
        create_time,update_time
    </sql>
</mapper>
