<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.gaokao_data_analysis_system.mapper.InfoSubjectMapper">

    <resultMap id="BaseResultMap" type="com.hust.gaokao_data_analysis_system.pojo.entity.InfoSubject">
            <id property="subject_code" column="subject_code" jdbcType="INTEGER"/>
            <result property="subject_name" column="subject_name" jdbcType="VARCHAR"/>
            <result property="subject_discipline" column="subject_discipline" jdbcType="INTEGER"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        subject_code,subject_name,subject_discipline,
        create_time,update_time
    </sql>
</mapper>
