<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.gaokao_data_analysis_system.mapper.PlanSgMapper">

    <resultMap id="BaseResultMap" type="com.hust.gaokao_data_analysis_system.pojo.entity.PlanSg">
            <id property="sg_code" column="sg_code" jdbcType="INTEGER"/>
            <result property="sg_school" column="sg_school" jdbcType="INTEGER"/>
            <result property="sg_year" column="sg_year" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        sg_code,sg_school,sg_year,
        create_time,update_time
    </sql>
    <select id="findAll" resultType="com.hust.gaokao_data_analysis_system.pojo.entity.PlanSg">
        SELECT t1.*,t2.school_name as sg_schoolName FROM t_plan_sg as t1 LEFT JOIN t_info_school as t2 on t1.sg_school = t2.school_id
    </select>
</mapper>
