<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.gaokao_data_analysis_system.mapper.PlanQjMapper">

    <resultMap id="BaseResultMap" type="com.hust.gaokao_data_analysis_system.pojo.entity.PlanQj">
            <id property="qj_code" column="qj_code" jdbcType="INTEGER"/>
            <result property="qj_school" column="qj_school" jdbcType="INTEGER"/>
            <result property="qj_year" column="qj_year" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        qj_code,qj_school,qj_year,
        create_time,update_time
    </sql>
    <select id="findAll" resultType="com.hust.gaokao_data_analysis_system.pojo.entity.PlanQj">
        SELECT t1.*,t2.school_name as qj_schoolName FROM t_plan_qj as t1 LEFT JOIN t_info_school as t2 on t1.qj_school = t2.school_id
        <where>
            <if test="year!=null">
                t1.qj_year = #{year}
            </if>
        </where>
        ORDER BY t1.qj_year DESC,t1.qj_school
    </select>
</mapper>
