<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.gaokao_data_analysis_system.mapper.RankUsMapper">

    <resultMap id="BaseResultMap" type="com.hust.gaokao_data_analysis_system.pojo.entity.RankUs">
            <id property="us_code" column="us_code" jdbcType="INTEGER"/>
            <result property="us_school" column="us_school" jdbcType="INTEGER"/>
            <result property="us_rank" column="us_rank" jdbcType="INTEGER"/>
            <result property="us_year" column="us_year" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        us_code,us_school,us_rank,
        us_year,create_time,update_time
    </sql>
    <select id="findNewest" resultType="com.hust.gaokao_data_analysis_system.pojo.entity.RankUs" parameterType="Integer">
        select * from t_rank_us where (us_school,us_year) in (select us_school,max(us_year) from t_rank_us where us_school = (#{us_school}))
    </select>
    <select id="findAll" resultType="com.hust.gaokao_data_analysis_system.pojo.entity.RankUs">
        SELECT t1.*,t2.school_name as us_schoolName FROM t_rank_us as t1 LEFT JOIN t_info_school as t2 on t1.us_school = t2.school_id
    </select>
</mapper>
