<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.gaokao_data_analysis_system.mapper.RankQsMapper">

    <resultMap id="BaseResultMap" type="com.hust.gaokao_data_analysis_system.pojo.entity.RankQs">
            <id property="qs_code" column="qs_code" jdbcType="INTEGER"/>
            <result property="qs_school" column="qs_school" jdbcType="INTEGER"/>
            <result property="qs_rank" column="qs_rank" jdbcType="INTEGER"/>
            <result property="qs_year" column="qs_year" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        qs_code,qs_school,qs_rank,
        qs_year,create_time,update_time
    </sql>
    <select id="findNewest" resultType="com.hust.gaokao_data_analysis_system.pojo.entity.RankQs" parameterType="Integer">
        select * from t_rank_qs where (qs_school,qs_year) in (select qs_school,max(qs_year) from t_rank_qs where qs_school = (#{qs_school}))
    </select>
    <select id="findAll" resultType="com.hust.gaokao_data_analysis_system.pojo.entity.RankQs">
        SELECT t1.*,t2.school_name as qs_schoolName FROM t_rank_qs as t1 LEFT JOIN t_info_school as t2 on t1.qs_school = t2.school_id
        <where>
            <if test="year!=null">
                t1.qs_year = #{year}
            </if>
        </where>
        ORDER BY t1.qs_year DESC,t2.school_id
    </select>
</mapper>
