<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.gaokao_data_analysis_system.mapper.RankWslMapper">

    <resultMap id="BaseResultMap" type="com.hust.gaokao_data_analysis_system.pojo.entity.RankWsl">
            <id property="wsl_code" column="wsl_code" jdbcType="INTEGER"/>
            <result property="wsl_school" column="wsl_school" jdbcType="INTEGER"/>
            <result property="wsl_rank" column="wsl_rank" jdbcType="INTEGER"/>
            <result property="wsl_year" column="wsl_year" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        wsl_code,wsl_school,wsl_rank,
        wsl_year,create_time,update_time
    </sql>
    <select id="findNewest" resultType="com.hust.gaokao_data_analysis_system.pojo.entity.RankWsl" parameterType="Integer">
        select * from t_rank_wsl where (wsl_school,wsl_year) in (select wsl_school,max(wsl_year) from t_rank_wsl where wsl_school = (#{wsl_school}))
    </select>
    <select id="findAll" resultType="com.hust.gaokao_data_analysis_system.pojo.entity.RankWsl">
        SELECT t1.*,t2.school_name as wsl_schoolName FROM t_rank_wsl as t1 LEFT JOIN t_info_school as t2 on t1.wsl_school = t2.school_id
        <where>
            <if test="year!=null">
                t1.wsl_year = #{year}
            </if>
        </where>
    </select>
</mapper>
