<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.gaokao_data_analysis_system.mapper.RankXyhMapper">

    <resultMap id="BaseResultMap" type="com.hust.gaokao_data_analysis_system.pojo.entity.RankXyh">
            <id property="xyh_code" column="xyh_code" jdbcType="INTEGER"/>
            <result property="xyh_school" column="xyh_school" jdbcType="INTEGER"/>
            <result property="xyh_rank" column="xyh_rank" jdbcType="INTEGER"/>
            <result property="xyh_year" column="xyh_year" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        xyh_code,xyh_school,xyh_rank,
        xyh_year,create_time,update_time
    </sql>
    <select id="findNewest" resultType="com.hust.gaokao_data_analysis_system.pojo.entity.RankXyh" parameterType="Integer">
        select * from t_rank_xyh where (xyh_school,xyh_year) in (select xyh_school,max(xyh_year) from t_rank_xyh where xyh_school = (#{xyh_school}))
    </select>
    <select id="findAll" resultType="com.hust.gaokao_data_analysis_system.pojo.entity.RankXyh">
        SELECT t1.*,t2.school_name as xyh_schoolName FROM t_rank_xyh as t1 LEFT JOIN t_info_school as t2 on t1.xyh_school = t2.school_id
        <where>
            <if test="year!=null">
                t1.xyh_year = #{year}
            </if>
        </where>
    </select>
</mapper>
