<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.gaokao_data_analysis_system.mapper.SchoolDisciplineMapper">

    <resultMap id="BaseResultMap" type="com.hust.gaokao_data_analysis_system.pojo.entity.SchoolDiscipline">
            <id property="school_discipline_code" column="school_discipline_code" jdbcType="INTEGER"/>
            <result property="school_discipline_school" column="school_discipline_school" jdbcType="INTEGER"/>
            <result property="school_discipline_discipline" column="school_discipline_discipline" jdbcType="INTEGER"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        school_discipline_code,school_discipline_school,school_discipline_discipline,
        create_time,update_time
    </sql>
</mapper>
