<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.gaokao_data_analysis_system.mapper.SchoolClassMapper">

    <resultMap id="BaseResultMap" type="com.hust.gaokao_data_analysis_system.pojo.entity.SchoolClass">
        <id property="school_class_code" column="school_class_code" jdbcType="INTEGER"/>
        <result property="school_class_school" column="school_class_school" jdbcType="INTEGER"/>
        <result property="school_class_name" column="school_class_name" jdbcType="VARCHAR"/>
        <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        school_class_code,school_class_school,school_class_name,
        create_time,update_time
    </sql>
    <resultMap id="SchoolClassVo" type="com.hust.gaokao_data_analysis_system.pojo.vo.SchoolClassVo">
        <id property="school_class_code" column="school_class_code" jdbcType="INTEGER"/>
        <result property="school_class_name" column="school_class_name" jdbcType="VARCHAR"/>
        <result property="school_code" column="school_code" jdbcType="INTEGER"/>
        <result property="school_id" column="school_id" jdbcType="INTEGER"/>
        <result property="school_name" column="school_name" jdbcType="VARCHAR"/>
        <collection property="subjectList" select="findSubjectList" column="school_class_code"></collection>
    </resultMap>
    <select id="findSubjectList" resultType="com.hust.gaokao_data_analysis_system.pojo.vo.SubjectVo">
        SELECT *
        FROM t_school_class_subject
            LEFT JOIN t_info_subject ON t_school_class_subject.schoolClass_subject_subject = t_info_subject.subject_id
            LEFT JOIN t_info_discipline ON t_info_subject.subject_discipline = t_info_discipline.discipline_id
        WHERE t_school_class_subject.schoolClass_subject_class = #{school_class_code}
        ORDER BY t_info_subject.subject_id
    </select>

    <select id="findAllByPage" resultMap="SchoolClassVo">
        SELECT * FROM t_school_class
        LEFT JOIN t_info_school on t_school_class.school_class_school = t_info_school.school_id
        <where>
            <if test="schoolId!=0">t_info_school.school_id = #{schoolId}</if>
        </where>
        ORDER BY t_info_school.school_id,t_school_class.school_class_name
    </select>
    <select id="findAll" resultMap="SchoolClassVo">
        SELECT * FROM t_school_class
        LEFT JOIN t_info_school on t_school_class.school_class_school = t_info_school.school_id
        <where>
            <if test="schoolId!=0">t_info_school.school_id = #{schoolId}</if>
        </where>
        ORDER BY t_info_school.school_id,t_school_class.school_class_name
    </select>
    <select id="findAllSubjectsBySchool" resultType="com.hust.gaokao_data_analysis_system.pojo.vo.SubjectVo">
        SELECT DISTINCT t_info_subject.*, t_info_discipline.*
        FROM t_school_class
                 LEFT JOIN t_school_class_subject
                           on t_school_class.school_class_code = t_school_class_subject.schoolClass_subject_class
                 LEFT JOIN t_info_subject ON t_school_class_subject.schoolClass_subject_subject = t_info_subject.subject_id
                 LEFT JOIN t_info_discipline ON t_info_subject.subject_discipline = t_info_discipline.discipline_id
        ORDER BY t_info_subject.subject_id
    </select>
</mapper>
