<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.gaokao_data_analysis_system.mapper.SchoolMajorMajorMapper">

    <resultMap id="BaseResultMap" type="com.hust.gaokao_data_analysis_system.pojo.entity.SchoolMajorMajor">
            <id property="schoolMajor_major_code" column="schoolMajor_major_code" jdbcType="INTEGER"/>
            <result property="schoolMajor_major_schoolMajor" column="schoolMajor_major_schoolMajor" jdbcType="INTEGER"/>
            <result property="schoolMajor_major_major" column="schoolMajor_major_major" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        schoolMajor_major_code,schoolMajor_major_schoolMajor,schoolMajor_major_major,
        create_time,update_time
    </sql>
</mapper>
